* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    margin: 8px;

}

img {
    width: 70%;

}


article {
    margin: 6vw;
}

.imgwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



.fotostil {
    width: 20vw;
    height: 20vw;
    position: relative;
    top: 2vw;
}

#butik {
    background-image: url(billeder/fotostil.png);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
}

#produkt {
    background-image: url(billeder/fotostil2.png);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
}





/*------- SKRIFT TYPER ---------*/

@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
        url('fonts/roboto-light-webfont.woff') format('woff');

}

@font-face {
    font-family: 'vag';
    src: url('fonts/vag_rounded_light-webfont.woff2') format('woff2'),
        url('fonts/vag_rounded_light-webfont.woff') format('woff');

}



/*------- NAVIGATIONSBAR -------*/


nav {
    overflow: hidden;

    background-color: black;


    margin: 0;
}

nav a {

    float: left;
    font-size: 1.4rem;
    font-family: 'vag';
    color: white;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    margin: 0;
}

.dropdown {
    float: right;
    overflow: hidden;
    padding: 0.5vw;
}

.dropdown .drop_button {
    font-size: 1rem;
    font-family: active;
    border: none;
    outline: none;
    color: white;
    padding: 1vw;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .drop_button {
    background-color: #2c2b28;
}

.dropdown_content {
    display: none;
    position: absolute;
    right: 0vw;
    top: 4.2vw;
    background-color: #f9f9f9;
    width: 25vw;
    box-shadow: 0vw 0.4vw 1vw 0vw rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_content a {
    float: none;
    font-size: 1rem;
    color: black;
    padding: 1vw 1.2vw;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown_content {
    display: block;
}


/*-------- GENERELT INDHOLD ----------------*/

section {
    background-color: white;
    margin: 2vw;
    padding: 1vw;
}

h1 {
    text-align: center;
    font-family: 'vag';
    letter-spacing: 0.5px;
    font-size: 1.5rem;
}

h2 {
    text-align: center;
    font-family: 'vag';
    letter-spacing: 0.5px;
    font-size: 1.25rem;
}

h3 {
    text-align: center;
    font-family: 'vag';
    letter-spacing: 0.5px;
    font-size: 1.25rem;
}

li {
    text-align: center;
    font-family: 'pt sans';
    letter-spacing: 0.5px;

}


p {
    text-align: center;
    font-family: 'pt sans';
    letter-spacing: 0.5px;
}



footer {
    background-color: white;
    margin: 2vw;
    padding: 1vw;
    text-align: center;
    font-family: 'roboto';
    font-size: 1rem
}

.link {
    text-align: center;
    font-family: 'roboto';
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

/*------- STARTSIDE -----*/

#gruppe_spil #billede_og_link {
    text-align: center;

}


#gruppe_spil #billede_og_link img {
    text-align: center;
}

/*------- SPILSTRUKTUR -----*/
/*------- MÅLGRUPPE -----*/
/*------- MOODBOARD -----*/

/*------- DESIGN DOKUMENTATION -----*/
/*------- LAYOUT DIAGRAM -----*/

#layout_diagram {}

/*------- STATE MACHINE DIAGRAM -----*/

/*------- ASSET-LISTE -----*/

.screen {
    height: 100%;
    width: 100%;
}

.knap_screen {
    height: 20%;
    width: 20%;
}

.stand {
    height: 49%;
    width: 49%;
}

/*------- TEST DOKUMENTATION -----*/
/*------- FERNISERING -----*/
/*------- TRELLO BOARD -----*/
.trello {
    align-content: center;
}

/*------- BURNDOWN CHART -----*/
/*------- MOCKUP ANNOUNCE -----*/
